@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-playfair);
}

@layer base {
  html.lenis, html.lenis body {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #F4F1ED;
}
::-webkit-scrollbar-thumb {
  background: #121A15;
}

/* Split text animation utility */
.clip-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
